# System
NODE_ENV = "production"
TIMEZONE = "Asia/Jakarta"

# Twitch
AUTH_TOKEN = "" # Web 
# AUTH_TOKEN_MOBILE is optional, fill this only!
# if you know how to get the mobile token
# AUTH_TOKEN_MOBILE = "" # Mobile token
