{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "printWidth": 150,
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "^[.]", "", "<TYPES>", "<TYPES>^[.]"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "4.4.0"
}
