{
	"isClaimDrops": false,
	"isClaimPoints": false,

	/* Drops filter */
	"isDropPriorityOnly": true,
	"usePriorityConnected": true,
	"priorityList": ["Rust", "VALORANT", "Sea of Thieves"],
	"exclusionList": []
}
